body{
    background-color:coral;
}
.contenedoretiquetas{
    style="color:blue;"
    background-color: aliceblue;
    background-size: 100px;
}
#contenedor_id{
    background-color: powderblue;
    font-style: oblique;
}
.segundo{
    background-color: chartreuse;
}
.tercero{
    background-color: brown;
}